
<div class="display-area">
    <h1>ChatBot</h1>

    </div>
<!-- Chatbox -->
<div class="chatbox">
<ul class="pages">
    <li class="chat page">
    <div class="chatArea">
        <ul class="messages"></ul>
    </div>
    <input class="inputMessage" placeholder="Type here..." />
    </li>
    <li class="login page">
    <div class="form">
        <h3 class="title">Handle [max 20 characters]</h3>
        <input class="usernameInput" type="text" maxlength="20" />
    </div>
    </li>
</ul>
</div>

<script src="https://code.jquery.com/jquery-1.11.1.js"></script>
<script src="/socket.io/socket.io.js"></script>
<!-- JS Link -->
<script src="index.js"></script>
