<!DOCTYPE html>
<html>
    
<meta charset="utf-8">


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <link src="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" />
<div class="center"><span class="light">Communicator<span class="dark">App</span></div>
<nav class="menu">
    <input type="checkbox" href="#" class="menu-open" name="menu-open" id="menu-open" />
    <label class="menu-open-button" for="menu-open">
        <span class="lines line-1"></span>
        <span class="lines line-2"></span>
        <span class="lines line-3"></span>
    </label>
    
    <a href="" class="menu-item blue"></a>
    <a href="#" class="menu-item green"> <i class="fa fa-coffee"></i> </a>
    <a href="#" class="menu-item red"> <i class="fa fa-heart"></i> </a>
    <a href="#" class="menu-item purple"><img src="https://cdn2.iconfinder.com/data/icons/pictograms-vol-1/400/message-128.png" width="24px" height="24px"></a>
    <a href="/statistics" class="menu-item orange"><img src="assets/images/server.js" width="24px" height="24px"></a>
    <a href="https://raw.githubusercontent.com/holtzy/data_to_viz/master/Example_dataset/4_ThreeNum.csv" class="menu-item lightblue"><img src="https://cdn4.iconfinder.com/data/icons/keynote-and-powerpoint-icons/256/Messages-128.png" width="24px" height="24px"></a>
</nav>

<!-- FOOTER -->
<footer>
    <a href="https://github.com/gquinn1011">
        <img src="assets/images/fire_orange_pepper.png" width="64px" height="64px">
    </a>

    <a href="https://github.com/amir-dwekat">
        <img src="assets/images/green_pepper.png" width="64px" height="64px">
    </a>

    <a href="https://github.com/matthew-lorber">
        <img src="assets/images/orange_half_pepper.png" width="64px" height="64px">
    </a>

    <a href="https://github.com/darkcypher777">
        <img src="assets/images/red_devil_pepper.png" width="64px" height="64px">
    </a>
</footer>

    
